@import "tailwindcss";

@theme {
  --color-brand-night: #3b2f4a; /* rgba(59,47,74,1) */
  --color-brand-amber: #eaa451; /* rgba(234,164,81,1) */
  --color-brand-pink: #d9176c; /* rgba(217,23,108,1) */
  --color-brand-pink-dark: #b0125a; /* hsl(334,81%,40%) */
  --color-brand-green: #25d994; /* rgba(37,217,148,1) */
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgba(245, 245, 245, 1);
  color: rgba(34, 34, 34, 1);
  font-family: sans-serif;
}
